$txt-color: #000;

$breadcrumb-link-color: #fff;
$breadcrumb-background-color: #005EB8;

$accessible-link-color: #005EB8;

$keyboard-focus-color: #333;
$keyboard-focus-color-inverted: #fff;
$keyboard-focus-style: dashed;
$keyboard-focus-width: 2px;